*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1138px;
    margin: 0 auto;
}
.head{
    display: flex;
    align-items: center;
    margin: 50px;
    margin-left: -25px;
}
.header_nav{
    margin-left: 300px;
}