* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1138px;
    margin: 0 auto;
}

.head {
    display: flex;
    align-items: center;
    margin: 50px;
    margin-left: -25px;
}

.header_nav {
    margin-left: 300px;
}

.header_a {
    color: #40494D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 69px;
}

.btn {
    border: 1px solid #283337;
    transition: 0.3s;
    background: #283337;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    border-radius: 50px;
    padding: 16px 25px;
}

.btn:hover {
    background: #dae02d;
    border: 1px solid #dae02d;
}

.block_1 {
    padding: 253px 105px 0;
    background: #F3F7F4;
}

.block_1_h2 {
    color: #283337;
    font-family: Times New Roman;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1px;
    width: 420px;
    margin-bottom: 44px;
}

.block_1_txt {
    color: #40494D;
    font-family: Arial;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    width: 347px;
    margin-bottom: 26px;
}

.all_block_1 {
    display: flex;
}

.block_1_right {
    margin: -99px 139px;
}

.block_1_imges {
    display: flex;
    padding: 265px 35px 143px;
}

.block_1_img {
    margin-left: 50px;
}

.product {
    padding: 80px 62px;
    display: flex;
    justify-content: space-between;
}
.product_h2{
    color: #283337;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 56px;
}
.product_txt{
    color: #40494D;
font-size: 17px;
font-weight: 400;
line-height: 26px;
margin-bottom: 9px;
width: 363px;
}
.product_right{  
    background: #F3F7F4;
    margin-left: 190px;
}
.product_right_mean{
    padding: 80px;
} 
.product_h3{
    color: #283337;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.882px;
    width: 203px;
    margin-bottom: 51px;
}   
.product_right_p{
    color: #40494D;
font-family: Arial;
font-size: 18px;
width: 391px;
margin-bottom: 50px;
}
.product_right_p2{
    color: #283337;
    text-align: right;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
.product_imges{
    margin-bottom: 27px;
}
.block_3{
    background: #E4E4E4;
}
.block_3_h2{
    color: #283337;
text-align: center;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px;
margin-bottom: 75px;
padding-top: 243px;
}
.block_3_h3{
    color: #283337;
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; 
    margin-bottom: 19px;
}
.block_3_p{
    color: #40494D;
text-align: center;
font-size: 16px;
width: 220px;
padding-bottom: 172px;
}
.block_3_cards{
    display: flex;
    justify-content: space-between;
}

.block_4{
    margin-top: 262px;
}
.koin{
    padding: 150px 80px;
}
.koin_h2{
    color: #283337;
font-family: Times New Roman;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 100% */
letter-spacing: 1px;
width: 285px;
}
.koin_p1{
    color: #40494D;
font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 381px;
}
.koin_p2{
    color: #283337;
font-family: Arial;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 14px;
}
.